In [21]:
import csv

In [22]:
list_students = []
with open('grades.csv', 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file, delimiter=';')
    
    for row in reader:
        # print(row)
        list_students.append(row)

In [23]:
list_students

[{'name': 'Valentina',
  'age': '20',
  'student_id': 'S12345',
  'grades': '4.25,4.5,3.9'},
 {'name': 'Santiago',
  'age': '22',
  'student_id': 'S23456',
  'grades': '4.4,3.8,4.6'},
 {'name': 'Camila',
  'age': '19',
  'student_id': 'S34567',
  'grades': '4.5,4.55,4.45'},
 {'name': 'Juan',
  'age': '21',
  'student_id': 'S45678',
  'grades': '3.5,3.75,4.0'},
 {'name': 'Daniela',
  'age': '23',
  'student_id': 'S56789',
  'grades': '4.75,4.25,4.4'},
 {'name': 'Andrés',
  'age': '20',
  'student_id': 'S67890',
  'grades': '3.0,3.25,3.5'},
 {'name': 'Pepe', 'age': '34', 'student_id': 'S99999', 'grades': '0,0,0'}]

In [24]:
list_students[0]

{'name': 'Valentina',
 'age': '20',
 'student_id': 'S12345',
 'grades': '4.25,4.5,3.9'}

In [25]:
def bubble_sort(arr, key):
    n = len(arr)
    # Recorrer todos los elementos
    for i in range(n):
        # Un indicador para optimizar: si no hay intercambios, la lista ya está ordenada
        swapped = False

        # Los últimos i elementos ya están en su lugar
        for j in range(0, n - i - 1):
            # Comparar e intercambiar
            if arr[j][key] > arr[j + 1][key]:
                arr[j][key], arr[j + 1][key] = arr[j + 1][key], arr[j][key]
                swapped = True

        # Si no hubo intercambios en esta pasada, terminar
        if not swapped:
            break
    return arr

In [26]:
list_students_desordenada = list_students[:]
len(list_students)

7

In [27]:
list_students[0].keys()

dict_keys(['name', 'age', 'student_id', 'grades'])

In [28]:
list_students_ordenada_edad = bubble_sort(list_students_desordenada[:],'age') 
list_students_ordenada_edad

[{'name': 'Valentina',
  'age': '19',
  'student_id': 'S12345',
  'grades': '4.25,4.5,3.9'},
 {'name': 'Santiago',
  'age': '20',
  'student_id': 'S23456',
  'grades': '4.4,3.8,4.6'},
 {'name': 'Camila',
  'age': '20',
  'student_id': 'S34567',
  'grades': '4.5,4.55,4.45'},
 {'name': 'Juan',
  'age': '21',
  'student_id': 'S45678',
  'grades': '3.5,3.75,4.0'},
 {'name': 'Daniela',
  'age': '22',
  'student_id': 'S56789',
  'grades': '4.75,4.25,4.4'},
 {'name': 'Andrés',
  'age': '23',
  'student_id': 'S67890',
  'grades': '3.0,3.25,3.5'},
 {'name': 'Pepe', 'age': '34', 'student_id': 'S99999', 'grades': '0,0,0'}]

In [31]:
list_students_ordenada_nombre = bubble_sort(list_students_desordenada[:],'name') 
list_students_ordenada_nombre

[{'name': 'Andrés',
  'age': '19',
  'student_id': 'S12345',
  'grades': '4.25,4.5,3.9'},
 {'name': 'Camila',
  'age': '20',
  'student_id': 'S23456',
  'grades': '4.4,3.8,4.6'},
 {'name': 'Daniela',
  'age': '20',
  'student_id': 'S34567',
  'grades': '4.5,4.55,4.45'},
 {'name': 'Juan',
  'age': '21',
  'student_id': 'S45678',
  'grades': '3.5,3.75,4.0'},
 {'name': 'Pepe',
  'age': '22',
  'student_id': 'S56789',
  'grades': '4.75,4.25,4.4'},
 {'name': 'Santiago',
  'age': '23',
  'student_id': 'S67890',
  'grades': '3.0,3.25,3.5'},
 {'name': 'Valentina', 'age': '34', 'student_id': 'S99999', 'grades': '0,0,0'}]

In [32]:
list_students_ordenada_id = bubble_sort(list_students_desordenada[:],'student_id') 
list_students_ordenada_id

[{'name': 'Andrés',
  'age': '19',
  'student_id': 'S12345',
  'grades': '4.25,4.5,3.9'},
 {'name': 'Camila',
  'age': '20',
  'student_id': 'S23456',
  'grades': '4.4,3.8,4.6'},
 {'name': 'Daniela',
  'age': '20',
  'student_id': 'S34567',
  'grades': '4.5,4.55,4.45'},
 {'name': 'Juan',
  'age': '21',
  'student_id': 'S45678',
  'grades': '3.5,3.75,4.0'},
 {'name': 'Pepe',
  'age': '22',
  'student_id': 'S56789',
  'grades': '4.75,4.25,4.4'},
 {'name': 'Santiago',
  'age': '23',
  'student_id': 'S67890',
  'grades': '3.0,3.25,3.5'},
 {'name': 'Valentina', 'age': '34', 'student_id': 'S99999', 'grades': '0,0,0'}]